doctype html
html
  head
    title bespoke-theme-boluge
    meta(name='description', content='A theme for Bespoke.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,700', rel='stylesheet')

    style.
      .title {
        background-image: url(images/background.jpg)
      }

  body

    article

      section
        h1 Boluge
        p A Bespoke.js theme by <a href="https://github.com/boluge">Stéphane Deluce</a>

      section(data-bespoke-backdrop='title')
        h2 Background backdrop

      section
        h2.bullet Paragraph
        p.bullet Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nulla maximus, dictum est quis, feugiat nisl. Nam fermentum dapibus nisi et consequat. Vivamus sit amet dictum ipsum. Maecenas efficitur mauris tellus, ut ullamcorper velit dictum at. Morbi quam odio, euismod in odio vel, facilisis rutrum diam.

      section
        h2.bullet Ordered List
        ol
          li In eu diam sed mi blandit pulvinar.
          li Etiam hendrerit nunc ut tortor interdum faucibus.
          li Nulla eget nibh et enim sagittis dictum.
      
      section
        h2.bullet Unordered List
        ul
          li In eu diam sed mi blandit pulvinar.
          li Etiam hendrerit nunc ut tortor interdum faucibus.
          li Nulla eget nibh et enim sagittis dictum.

      section
        h2 Highlight
        pre
          code.language-javascript.
            function foobar(text) {
              console.log(text):
            }

            foobar('It works with JavaScript!');

      section.emphatic-text
        h2 Text center
        p.center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend sem eu pretium interdum. Suspendisse in convallis orci. Suspendisse ut odio ultrices, consectetur tortor eu, egestas nisi. Curabitur at dictum ante, ut vestibulum nunc.

      section.emphatic-text(data-bespoke-backdrop='green')
        h2 Green Slide
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend sem eu pretium interdum. Suspendisse in convallis orci.

      section.emphatic-text(data-bespoke-backdrop='orange', data-bespoke-state='light')
        h2 Orange Slide
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend sem eu pretium interdum. Suspendisse in convallis orci.

      section.emphatic-text(data-bespoke-backdrop='red')
        h2 Red Slide
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend sem eu pretium interdum. Suspendisse in convallis orci.

      section.emphatic-text(data-bespoke-backdrop='blue')
        h2 Blue Slide
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend sem eu pretium interdum. Suspendisse in convallis orci.
      
      section
        h2.bullet Enjoy <span class='bullet'>:)</span>

    a(href='https://github.com/boluge/bespoke-theme-boluge')
      img(style='position: absolute; top: 0; right: 0; border: 0; width: 25vw; max-width: 149px;', src='http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png' alt='Fork me on GitHub')

    script(src='build/build.js')
